/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Poppins;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px;
  background: linear-gradient(to right, #FCE1BC, #FFDBFE);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 0px 0px;
  }
}
header .lefthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  text-align: center;
}
header .lefthead img {
  padding: 15px;
}
@media (max-width: 500px) {
  header .lefthead {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    text-align: center;
  }
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media (max-width: 800px) {
  header nav {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  header nav {
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
}
header nav a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  width: 100%;
  text-align: center;
}
@media (max-width: 800px) {
  header nav a {
    text-align: end;
    margin: 5px auto;
  }
}
@media (max-width: 500px) {
  header nav a {
    padding: 20px;
    border-top: solid white 3px;
    text-align: center;
  }
}
header nav a:hover {
  text-decoration: underline;
}
.footer {
  width: 100%;
  background: #FCE1BC;
}
.footer p {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  padding: 20px;
}
.home {
  padding: 0px 40px;
}
.home .intro {
  border-bottom: 2px solid #C0C0C0;
}
.home .intro .textintro {
  margin: 15px 0px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .home .content-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .quote {
  width: 48%;
  align-items: center;
  text-align: center;
}
.home .content-section .quote h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  line-height: 9.6rem;
}
.home .content-section .quote h2 #colorful {
  background: -webkit-linear-gradient(#FCE1BC, #FFDBFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 800px) {
  .home .content-section .quote h2 {
    line-height: 5rem;
  }
}
@media (max-width: 800px) {
  .home .content-section .quote {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .content-section .quote {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 800px) {
  .home .content-section .img-content {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    display: none;
    width: 100%;
  }
}
.home .content-section .textend {
  margin-top: 35px;
  padding-top: 40px;
  border-top: 2px solid #C0C0C0;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px solid #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
    margin: 30px 0;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding: 30px;
  border-top: 2px solid #C0C0C0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-pick .destination {
  width: 60%;
  background: linear-gradient(to right, #4638a0, #9089b8);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  color: white;
}
.home .content-pick .destination button {
  cursor: pointer;
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(to right, #BBD2FE 0%, #BFF4FE 51%, #5c84ce 100%);
  color: #08003d87;
  font-weight: bold;
  font-size: 1.8rem;
}
.home .content-pick .destination button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: white;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 85%;
  }
}
.containers {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .containers {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}
.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: #ffffff;
  background: linear-gradient(#FCE1BC, #FFDBFE);
  border-radius: 6px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  height: 250px;
  margin: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 450px;
}
.card h1 {
  text-align: center;
}
.card .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.card .additional {
  background: linear-gradient(#9089b8, #4638a0);
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: width 0.4s;
  width: 150px;
  z-index: 2;
}
.card .additional .user-card {
  float: left;
  height: 100%;
  position: relative;
  width: 150px;
}
.card .additional .user-card:after {
  border-left: 2px solid rgba(0, 0, 0, 0.025);
  content: "";
  display: block;
  height: 80%;
  position: absolute;
  right: -2px;
  top: 10%;
}
.card .additional .profilepicture {
  margin: 30px 5px 10px 5px;
  text-align: center;
}
.card .additional .level {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  color: #ffffff;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.125rem 0.75rem;
  text-transform: uppercase;
  top: 15%;
  white-space: nowrap;
}
.card .additional .points {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.125rem 0.75rem;
  text-transform: uppercase;
  top: 15%;
  top: 85%;
  white-space: nowrap;
}
.card .additional svg {
  top: 50%;
}
.card .additional .more-info {
  float: left;
  height: 100%;
  left: 150px;
  position: absolute;
  width: 300px;
}
.card .additional .more-info h1 {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0;
}
.card .additional .coords {
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem 1rem;
}
.card .additional .coords span + span {
  float: right;
}
.card .additional .stats {
  bottom: 1rem;
  color: #ffffff;
  display: flex;
  font-size: 2rem;
  left: 1rem;
  position: absolute;
  right: 1rem;
  top: auto;
}
.card .additional .stats i {
  display: block;
}
.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}
.card .additional .stats > div {
  flex: 1;
  text-align: center;
}
.card:hover .additional {
  border-radius: 0 5px 5px 0;
  width: 100%;
}
.card .general {
  box-sizing: border-box;
  height: 100%;
  padding-top: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 1;
}
.card .general .more {
  bottom: 1rem;
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
}
