// Colors
@white: #FFFFFF;
@navborder: #C0C0C0;
@main-color2: #FFDBFE;
@eastern-blue: #17A2B8;
@main-color: #FCE1BC;
@darkpurple: #4638a0;
@lightpurple: #9089b8;

@button1: #BBD2FE;
@button2: #BFF4FE;
@button3: #5c84ce;

@font-color: black;

// mobile
@mobile: ~"(max-width: 500px)";

// tablet
@tablet: ~"(max-width: 800px)";